<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>helo, Welkam tu mai cenel</h1>
  <label>Yes Yes Yess</label>
  <!-- Cara Panggil Variabel Yang diparsing dari backend -->
  <b>My Name Is : </b>
  <b>{{ .Nama }}</b>
  <br>
  <b>My Age is : </b>
  <b>{{ .Umur }}</b>
</body>
</html>